<% include header %>
		<section class="b-wrapper">
			<div class="b-left">
				<article class="con-panel">
					<header class="con-header">
						<h1 class="con-title">文章标题标题
							<small>2015-10-10</small>
						</h1>
					</header>
					<div>
						content
					</div>
				</article>
			</div>

			<aside class="b-aside fr">
				<div class="aside-panel">
					<header class="aside-header">
						<h3 class="aside-title">文章分类</h3>
					</header>
					<ul class="class-list">
						<li>
							php
						</li>
					</ul>	
				</div>
				<div class="aside-panel">
					<header class="aside-header">
						<h3 class="aside-title">个人分享</h3>
					</header>
					<ul class="class-list">
						<li><a href="">五子棋</a>
						</li>
						<li><a href="">贪吃蛇</a></li>
						<li><a href="">2048</a></li>
					</ul>	
				</div>
			</aside>
		</section>

	</div>

<% include footer %>