.nav-top {
	background: #4c4646;
	color: #fff;
	overflow: hidden;
	font-size: 1.8rem;
	height: 80px;
	line-height: 80px;
}

.nav-top nav {
	margin: 0 auto;
	width: 1000px;
}
.nav-top .logo {
	float: left;
	margin-left: 20px;
	font-size: 2.8rem;
}

.nav-menu {
	margin-right: 100px;
	float: right;
	vertical-align: top;
}

.nav-menu li {
	display: inline-block;
	padding: 0px 20px;
	position: relative;
}

.nav-menu li.active:before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #ededef transparent;

}

.nav-menu li a {
	color: #fff;
}

.b-wrapper {
	margin: 20px auto;
	width: 1000px;
	//overflow: hidden;
}

.b-left {
	width: 70%;
	float: left;
	margin-bottom: 20px;
}

.art-list {
	padding-left: 140px;
	position: relative;
}

.art-list:before{
	position: absolute;
	left: 40px;
	top: 0;
	content: "";
	width: 2px;
	height: calc(100% + 30px);
	background: #ddd;
}

.art-list:last-child:before{
	height: 100%;
}
.art-list:not(:first-child) {
	margin-top: 30px;
}

.art-list .art-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.7);
	border-top: none;
	overflow: hidden;
}

.art-list .art-pic img {
//	width: 100%;
}

.art-date {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ddd;
	border: 1px solid #ddd;
	vertical-align: middle;
}

.art-date:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #ddd;
	transform: scale(1.2);
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

.art-date:hover:before {
	transform: scale(1.5);
	opacity: 0;
}

.art-date span {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.art-date span:nth-of-type(1){
	font-size: 16px;
	font-weight: bold;
	color: #FF9C66;
}

.art-panel {
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	//border-top: none;
	border-radius: 5px;
	position: relative;
}

.art-panel:before {
	//content: "";
	position: absolute;
	top: 0;
	left: -40px;
	border-width: 20px 40px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
}

.art-header .art-title {
	font-size: 1.4rem;
	line-height: 2.5rem;
	color: #aaa;
}

.art-header .art-title a {
	display: inline-block;
	width: 100%;
	color: #4c4646;
	font-size: 18px;
  	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.art-body {
	color: #666;
	font-size: 1.4rem;
	overflow: hidden;
	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-line-clamp: 10;
}

.art-body .img {
	float: left;
	margin-right: 15px;
	width: 120px;
	overflow: hidden;
}

.img img {
	width: 100%;
}

.art-panel .art-footer {
	text-align: right;
}

.art-panel .art-footer a {
	color: #FF9C66;
	font-size: 1.2rem;
}

.art-panel a:hover {
	color: #7594B3;
}

.b-aside {
	width: 250px;
}

.aside-panel {
	border: 1px solid #ddd;	
	//background: #f3f3f3;
	background: #fff;
	box-shadow: 1px 1px 2px #ddd;
	overflow: hidden;
	border-radius: 5px;
}

.aside-panel:not(:first-child) {
	margin-top: 20px;
}

.aside-panel .aside-header h3 {
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	color: #444;
	border-bottom: 1px solid #ddd;
}

.class-list>li {	
	border-top: 1px solid #fff  ;
}

.class-list>li a {
	padding-left: 15px;
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 1.4rem;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}

.class-list>li:not(:first-child)>a {
	border-top: 1px solid #ddd;
}

.class-list li a .icon-count{
	float: right;
	margin: 5px 20px 0px 0px;
	padding: 0px 10px;
	height: 20px;
	line-height:  20px;
	border-radius: 5px;
	background: #444;
	color: #fff;
}

.sub-class-list li {
	padding: 3px 15px;

}

.sub-class-list li:first-child {
	border-top: 1px dotted #d1d1d2;
}

.sub-class-list a {
	transition: all .2s ease-in-out;
}

.sub-class-list a:hover {
	color: #fff;
	background: #4c4646;
	border-radius: 5px;
	transform: scale(1.1,1);

}

.con-panel {
	padding: 20px 30px;
	//border: 1px solid #4C4646;
	box-shadow: 0px 0px 3px #4C4646;
	background: #fff;
	border-radius: 5px;
	font-size: 1.4rem;
	min-height: 500px;
}

.con-header {
	
}

.con-header .con-title {
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/****login**********/
.login-wrapper {
	margin: 150px auto;
	width: 500px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #4c4646;
	overflow: hidden;
}

.login-wrapper .login-title {
	padding: 10px;
	font-size: 18px;
	text-align: center;
	background: #4c4646;
	color: #fff;
}

.login-wrapper .login-body {
	padding: 30px 20px;
}

.error-tips {
	display: inline;
	margin-left: 10px;
	font-weight: 300px;
	color: #d72f2f;
}

.vertical-form {
	width: 100%;
}

.vertical-form label {
	width: 150px;
	text-align: right;
}

.vertical-form input {
	outline: none;
	width: 200px;
	height: 35px;
	line-height: 35px;
}

.vertical-form  .btn-default {
	margin-left: 150px;
}

.editor-content {
	padding: 30px;
	border-radius: 5px;
	background: #fff;
}

.editor-form label {
	padding: 0 10px 0 0;
	font-size: 18px;
}

.editor-form input {
	width: 500px;
	height: 35px;
	border-color: #ddd;
}

.editor-form input:focus {
	border-color: #ddd;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(234,208,208,.6);
}

.editor-form .btn-bright:active {
	transform: translateY(2px);
}

/*****后台文章列表 start******/
.wrapper {
	padding: 20px 30px 20px 300px;
	width: 100%;
	position: relative;
}

.wrapper .b-aside {
	position: absolute;
	left: 30px;
	top: 20px;
	height: 100%;
}

.wrapper .b-aside .aside-panel {
	background: #fff;
	box-shadow: none;
	height: 100%;
}

.wrapper .b-aside .aside-panel .class-list>li:last-child {
	border-bottom: 1px solid #ddd;
}

.article-content {
	margin: 0 auto;
	width: 100%;
	min-height: 500px;
	padding: 20px 30px;
	background: #fff;
	border: 1px solid #d1d1d2;
	border-radius: 5px;
}
.article-list li {
	padding: 5px 0 0 0;
	border-bottom: 1px dotted #ddd;
}

.art-group {
	position: relative;
	vertical-align: top;
}

.art-group a {
	font-size: 14px;
	line-height: 1;
	color: #4c4646;
}

.art-group a:hover {
	text-decoration: underline;
}

.art-group .title {
	display: inline-block;
	width: 300px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.art-group .operate-group {
	position: absolute;
	right: 10px;
	top: 0;
}

.operate-group a {
	font-size: 14px;
	color: #4f161d;
}

.operate-group a:hover {
	color: #d3552d;
}
/*****后台文章列表 end******/

/******分页start******/
.pagination {
	padding: 10px 0;
	text-align: right;
}

.page-list {
	font-size: 0;
}

.page-list li {
	display: inline-block;
	margin: 5px;
	font-size: 12px;
}

.page-list li a {
	padding: 5px 8px;
	color: #4c4646;
	border: 1px solid #4c4646;
	transition: all .2s ease-in-out;
}

.page-list li a:hover,
.page-list li.active a {
	color: #fff;
	background: #d3552d;
	border: 1px solid #d3552d;
}

.page-list li.disabled a {
	background: #ddd;
	color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}

/******分页 end******/